<mat-card fxFlex>
    <mat-card-header>
        <mat-card-title><h1 class="mat-display-1">{{post.title}}</h1></mat-card-title>
        <mat-card-subtitle>{{post?.author?.username||'user'}} &bull; {{post.createdDate|date:'short'}} </mat-card-subtitle>
    </mat-card-header>
    <!-- <img matCardImage src="Card wide image source"> -->
    <mat-card-content>
        {{post.content}}
    </mat-card-content>
    <mat-card-actions align="end">
        <p>
            back to <a [routerLink]="['/post/list']">{{'post-list'}}</a>.
        </p>
    </mat-card-actions>
    <!-- <mat-card-footer>
        Footer
    </mat-card-footer> -->
</mat-card>
